{% extends "login_type.html" %} {% block main %}
<div class="auth-inner my-2">
  <!-- Login basic -->
  <div class="card mb-0">
    <div class="card-body">
      <a href="index.html" class="brand-logo">
        <img
          src="../static/media/images/favicon.png"
          width="70px"
          style="border-radius: 30%"
          alt="Brand-Logo"
        />
        <h2 class="brand-text ms-1 my-1" style="color: rgb(0, 0, 0);">Cloud CRM</h2>
      </a>

      <h4 class="card-title mb-1">Welcome to Cloud CRM! 👋</h4>
      <p class="card-text mb-2">Please sign-in to your staff account</p>

      <form class="auth-login-form mt-2" action="/" method="POST">
        {% csrf_token %}
        <div class="mb-1">
          <label for="login-email" class="form-label">User Name</label>
          <input
            type="text"
            class="form-control"
            id="login-email"
            name="login-email"
            placeholder="User123"
            aria-describedby="login-email"
            tabindex="1"
            autofocus
          />
        </div>

        <div class="mb-1">
          <div class="d-flex justify-content-between">
            <label class="form-label" for="login-password">Password</label>
            <a href="auth-forgot-password">
              <small>Forgot Password?</small>
            </a>
          </div>
          <div class="input-group input-group-merge form-password-toggle">
            <input
              type="password"
              class="form-control form-control-merge"
              id="login-password"
              name="login-password"
              tabindex="2"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="login-password"
            />
            <span class="input-group-text cursor-pointer"
              ><i data-feather="eye"></i
            ></span>
          </div>
        </div>
        <!-- remember me using cookies -->
        <div class="mb-1">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="remember-me"
              tabindex="3"
            />
            <label class="form-check-label" for="remember-me">
              Remember Me
            </label>
          </div>
        </div>

        <button class="btn btn-primary w-100" tabindex="4">Sign in</button>
      </form>
    </div>
  </div>
  <!-- /Login basic -->
</div>
{% endblock %}
