{% extends 'Admin-home/admin_base.html' %}
{% load static %}

{% block stylesheet %}
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css"
    href="{% static 'vendors/css/tables/datatable/dataTables.bootstrap5.min.css' %}" />
<link rel="stylesheet" type="text/css"
    href="{% static 'vendors/css/tables/datatable/responsive.bootstrap5.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/buttons.bootstrap5.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/rowGroup.bootstrap5.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/pickers/flatpickr/flatpickr.min.css' %}" />
<!-- END: Vendor CSS-->
{% endblock stylesheet %}

{% block javascript %}
<!-- BEGIN: Vendor JS-->
<script src="{% static 'vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/datatables.checkboxes.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/jszip.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/js/tables/datatable/dataTables.rowGroup.min.js' %}"></script>
<!-- BEGIN Vendor JS-->
{% endblock javascript %}

{% block main_home %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0" id="page-title">Admin List</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="admin-home">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">Admin
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12">
                <div class="mb-1 breadcrumb-right">
                    <a href="add-admin">
                        <button type="button" class="btn btn-primary waves-effect waves-float waves-light"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Add</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Relative code start -->
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <table class="datatables-basic table" id="example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Details</th>
                                        <th>Contact</th>
                                        <th>Login Details</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <div class="d-flex justify-content-left align-items-center">
                                                {% if row.image == '' %}
                                                <div class="avatar  bg-light-warning  me-1">
                                                    <span class="avatar-content">
                                                        {{ row.f_name|first|upper }}{{ row.l_name|first|upper }}
                                                    </span>
                                                </div>
                                                {% else %}

                                                <div class="avatar me-1 modaldiv"
                                                    data-url="{% static 'media/files/' %}{{ row.image }}">
                                                    <img src="{% static 'media/files/' %}{{ row.image }}" alt="Avatar"
                                                        width="32" height="32">
                                                </div>
                                                {% endif %}
                                                <div class="d-flex flex-column">
                                                    <span class="emp_name text-truncate fw-bold">
                                                        {{ row.f_name }} {{ row.l_name }}
                                                    </span>
                                                    <small class="emp_post text-truncate text-muted">
                                                        Joining Date: {{ row.joining_date|date:"M d, Y" }}
                                                    </small>
                                                    <small class="emp_post text-truncate text-muted">
                                                        Date Of Birth: {{ row.DOB|date:"M d, Y" }}
                                                    </small>
                                                    <small class="emp_post text-truncate text-muted">
                                                        Role:
                                                        {% if row.role == 'admin' %}
                                                        Admin
                                                        {% else %}
                                                        Super Admin
                                                        {% endif %}
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-left align-items-center">
                                                <div class="d-flex flex-column">
                                                    <span class="emp_name text-truncate fw-bold">
                                                        M: +91 {{ row.contact_no|phone2numeric }}
                                                    </span>
                                                    <small class="emp_post text-truncate text-muted">
                                                        E: {{ row.email }}
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-left align-items-center">
                                                <div class="d-flex flex-column">
                                                    <span class="emp_name text-truncate fw-bold">
                                                        Username: {{ row.username }}
                                                    </span>
                                                    <span class="emp_name text-truncate fw-bold">
                                                        Password: {{ row.password }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span
                                                class="badge rounded-pill badge-light-{% if row.status == 1 %}success{% elif row.status == 2 %}warning{% else %}danger{% endif %} me-1">
                                                {% if row.status == 1 %}
                                                Active
                                                {% elif row.status == 2 %}
                                                Leave
                                                {% else %}
                                                Left
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button style="bottom: 12px;" type="button"
                                                    class="btn btn-sm dropdown-toggle hide-arrow py-0"
                                                    data-bs-toggle="dropdown">
                                                    <i data-feather="more-vertical"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end">

                                                    <a class="dropdown-item" href="edit-admin/{{ row.id }}/edit">
                                                        <i data-feather="edit-2" class="me-50"></i>
                                                        <span>Edit</span>
                                                    </a>
                                                    {% if row.role == 'admin' %}
                                                    <a class="dropdown-item" href="delete-admin/{{ row.id }}/delete">
                                                        <i data-feather="trash" class="me-50"></i>
                                                        <span>Delete</span>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Modal to add new record -->
            </section>
            <div id="imgmodal"></div>
            <button type="button" class="btn btn-outline-primary" id="imagemodalbtn" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter" style="display: none;"></button>
            <button type="button" id="admin-success" style="display: none;">admin-success</button>

            <!-- Relative code end -->
        </div>
    </div>
</div>

{% endblock main_home %}

{% block main_script %}
<script>
    $('.modaldiv').on('click', function () {
        var image = $(this).attr("data-url");
        imagemodal(image)
    });

    // if (true) {
    //     toster_botton("admin-success");
    // }
</script>
{% endblock main_script %}